body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    color:rgb(255, 0, 128);
} 

.main-head{
    height: 150px;
    background: rgb(255, 0, 128);
}

.sidenav {
    height: 100%;
    
    /* background-image: url("C:/Users/user/Downloads/view.png");  */
    background-position:1px 20px; 
    background-position:0% 30%,2%,1%;  
      background-size:cover;
      backface-visibility: hidden;
 
}


.main {
    padding: 0px 100px;
    border: #000;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 5px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 1%;
        border: #000;
    }

    .register-form{
        margin-top: 10%;
        
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left:70%; 
        margin-top: 0%;
    }

    .sidenav{
        width: 70%;
        position: fixed;
        z-index:auto;
        top: 0;
        left: 0;
    }

    .login-form{
         margin-top: 10%; 
         /*position: fixed;*/
         width: 150px;
    }

    .register-form{
        margin-bottom: 2%;
        
    }
}


.login-main-text{
    margin-top: 10%;
    padding: 6px;
    color: rgb(255, 0, 128);
}

.login-main-text h2{
    font-weight: 300;
    color:rgb(255, 0, 128);
}

.btn-black{
    background-color: #000 !important;
    color:rgb(255, 0, 128);
}
.logo{
    background-size:cover;
    width:240px; 
    height: 300px;
    margin-bottom: 10%;
}