<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<div >
  <div>
    <nav>
      <ul id="menu">
        <div class="right-elements">
          <li><a class="styling" routerLink="/login" routerLinkActive="active">
            <mat-icon>login</mat-icon>
              <br>
              <b>logOut</b> </a></li>
              <li><a class="styling" routerLink="/accountInfo" routerLinkActive="active">
               <mat-icon>card_membership</mat-icon>
                <br>
                <b>cardInfo</b> </a></li>
                <li><a class ="styling" routerLink="/transaction" routerLinkActive="active">
                  <mat-icon>payment</mat-icon>
                  <br /> 
                  <b>add Transaction</b> </a></li>

                  <li><a  class ="styling"routerLink="/operationsHistory" routerLinkActive="active">
                    <mat-icon>cached</mat-icon>
                    <br>
                    <b>Transactions</b> </a></li>
        </div>
        <div class="left-element">
        <h1 class="crb">cross river bank</h1>
        </div>
        
      </ul>
    </nav>






