body{
    border-top: 50%;
}
/* .accountInfoDisplayDiv
{
    margin-top: 100px;
} */
.example-card {
    max-width: 400px;
}
.mat-card{
   margin: auto;
   margin-top: 20%;
   color:#2f62be; 
}
.title{
    font-size: medium;
}