.account-Details{
    color:#180739;
    font-weight: 400;
}
.mat-dialog-content{
    min-height: 0px;
    display: block;
     margin: 0 0;
}
button{
     color: #2f62be;
     margin-left: 80%;
     margin-top: -7%;
}
h1{
    color:#180739;
    display: inline-block;
}
.header{
    display: flex;
}
.title{
    font-size: large;
}
.mat-dialog-container{
    padding-top: 4%;
    padding-right: 0%;
}
img{
    margin-top: -30px;
}
